.main-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.image-detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}


.image-detail .details {
  margin: 20px 0;
  width: 32rem;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group {
  width: 32rem;
}

.list-group-item {
  cursor: pointer;
  display: flex;
}

.list-group-item:hover {
  background-color: #eee;
}

.media-object {
  height: 16rem;
  width: 18rem;
  border-radius: 2%;
  margin-left: 4px;
  margin-top: 10px;
}

.image-list-title {
  padding: 10px;
  margin: 10px 0 0 0;
}

.selected-image{
  height: 32rem;
  width: 32rem;
  border-radius: 2%;
}

.image-list-container {
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  height: 75%;
}