.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}


.image-detail .details {
  margin: 20px 0;
  width: 32rem;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.media-object {
  height: 18rem;
  width: 18rem;
  border-radius: 2%;
}

.media-heading {
  padding: 10px;
}

.selected-image{
  height: 32rem;
  width: 32rem;
  border-radius: 2%;
}
